<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <!-- Page Content -->
    <main class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
       <h1 class="display-3"><%= title %></h1>
      </header>
    </main>
    <!-- /.container -->
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
