<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>New Post</h1>

      <form action="/topics/<%= topicId %>/posts/create" method="post">
        <div class="form-group">
          <label for="title">Post Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            aria-describedby="titleHelp"
            placeholder="Enter Title"
          >
        </div>
        <div class="form-group">
          <label for="body">Post Body</label>
          <textarea
            name="body"
            rows="4"
            class="form-control"
            placeholder="Enter Post Body"
          >
          </textarea>
        </div>
        <div class="dropdown">
          <label for="flairs">Flair</label>
          <select name="flairs">
            <% flairs.forEach(flair => { %>
                <option value="<%= flair.id %>"> <%= flair.name %> </option>
            <% }) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
    
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
